.main{
    margin-top:4rem;
}

.btn{
    margin:5px;
}

.jumbotron{
    padding:1rem;
}

.profilePic{
    height:30px;
    width:30px;
}

.card{
    margin-bottom:.5rem;
}

.btn-success{
    height:36px;
    margin:1rem;
}